body {
  background-color: var(--Cream);
  margin: 0;
  overflow-y: auto;
}

a {
  color: var(--Primary);
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
}

.Navbar {
  background-color: var(--WhiteDom);
  position: sticky;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  display: flex;
  flex-direction: row;
  unicode-bidi: normal;
  gap: 4%;
  justify-content: center;
  margin: 0;
  border-bottom: 1.5px solid rgba(29,40,67,0.26);
      z-index: 100;

}
  
h1 {
  color: var(--Secondary);
}

.title {
  margin: 50px;
  text-align: center;
}

.picture {
  width: 300px;
  border-radius: 50%;
  height: 200px;
}

.item-title {
  /* A supprimer si bootstrap */
  position: relative;
  left: 120px;
  margin-top: 10px;
}

Footer {
  background-color: var(--WhiteDom);
  position: relative;
  bottom: 0;
  height: 20%;
  display: flex;
  flex-direction: row;
  unicode-bidi: normal;
  justify-content: center;
  margin: 0;
  border-top: 1.5px solid rgba(29,40,67,0.26);
  z-index: 100;
}