{% extends 'base.html' %}

{% load static %}

{% block title %} Order {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div id="cart-products" onload="fillCart()"></div>
        <div id="total"></div>
        <select name="pickup_slot" id="pickup_slot">
            <option value="">Choisissez un créneau</option>
            {% for pickup_slot in pickup_slots %}
                <option value="{{ pickup_slot.id }}">{{ pickup_slot.time_slot }}</option>
            {% endfor %}
        </select>
        <div class="col-md-4">
            <h3>Message</h3>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <button type="submit" class="btn-sucsess" onclick="order()"> commander</button>
            {% if not user.is_authenticated %}
            <h3>Pas de gain de fidélité</h3>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}