{% extends 'base.html' %}
{% load static %}
{% block title %}desserts{% endblock %}

{% block content %}
    <h1>desserts</h1>

    {% for dessert in desserts %}
        {% if dessert.en_ligne and dessert.du_moment %}
            <h2 class="title">Du moment</h2>
            <div class="col-md-6 p-4">
                    <img class="picture" src="{{ dessert.image }}">
                    <h4 class="item_title" id="bur{{dessert.id}}">{{ dessert.nom }}</h4>
                    <h6 class="item_title">{{ dessert.description }}</h6>
                    <div class="form-check-inligne">
                        <label class="form-check_label">
                            <input class="form-check-input" type="radio" name="dessert{{dessert.id}}" value="{{dessert.prix}}" checked>
                            {{ dessert.prix }} €
                        </label>
                    </div>
                    <div>
                        <button class="btn" onclick="adddessert('{{ dessert.id }}')"> Ajouter au panier</button>
                    </div>
        {% endif %}
    {% endfor %}

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8">
                    <h2 class="title">Carte</h2>
                    <div class="row">
                        {% for dessert in desserts %}
                            <div class="col-md-6 p-4">
                            {% if dessert.en_ligne and not dessert.du_moment %}
                                <img class="picture" src="{{ dessert.image }}">
                                <h4 class="item_title" id="bur{{dessert.id}}">{{ dessert.nom }}</h4>
                                <h6 class="item_title">{{ dessert.description }}</h6>
                                <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="dessert{{dessert.id}}" value="{{dessert.prix}}" checked>
                                        {{ dessert.prix }} €
                                    </label>
                                </div>
                                <!-- <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="dessert{{dessert.id}}">
                                        {{ dessert.prix }} + 4 €
                                        trouver pour le double 7 8min
                                    </label> -->
                                </div>
                                <button class="btn" onclick="adddessert('{{ dessert.id }}')"> Ajouter au panier</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-dark p-4 rounded">
                        <h2> Order list</h2>
                        <ul id="pcart"></ul>
                        <h4 id="ptotal"> Total: € </h4>
                    </div>
                </div>
            </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
