{% extends 'base.html' %}
{% load static %}
{% block title %}dwichs{% endblock %}

{% block content %}
    <h1>dwichs</h1>

    {% for dwich in dwichs %}
    {% if dwich.en_ligne and dwich.du_moment %}
        <h2 class="title">Du moment</h2>
        <div class="col-md-6 p-4">
                <img class="picture" src="{{ dwich.image }}">
                <h4 class="item_title" id="bur{{dwich.id}}">{{ dwich.nom }}</h4>
                <h6 class="item_title">{{ dwich.description }}</h6>
                <div class="form-check-inligne">
                    <label class="form-check_label">
                        <input class="form-check-input" type="radio" name="dwich{{dwich.id}}" value="{{dwich.prix}}" checked>
                        {{ dwich.prix }} €
                    </label>
                </div>
                <div>
                    <button class="btn" onclick="adddwich('{{ dwich.id }}')"> Ajouter au panier</button>
                </div>
    {% endif %}
{% endfor %}

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8">
                    <h2 class="title">Carte</h2>
                    <div class="row">
                        {% for dwich in dwichs %}
                            <div class="col-md-6 p-4">
                            {% if dwich.en_ligne and not dwich.du_moment %}
                                <img class="picture" src="{{ dwich.image }}">
                                <h4 class="item_title" id="bur{{dwich.id}}">{{ dwich.nom }}</h4>
                                <h6 class="item_title">{{ dwich.description }}</h6>
                                <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="dwich{{dwich.id}}" value="{{dwich.prix}}" checked>
                                        {{ dwich.prix }} €
                                    </label>
                                </div>
                                <!-- <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="dwich{{dwich.id}}">
                                        {{ dwich.prix }} + 4 €
                                        trouver pour le double 7 8min
                                    </label> -->
                                </div>
                                <button class="btn" onclick="adddwich('{{ dwich.id }}')"> Ajouter au panier</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-dark p-4 rounded">
                        <h2> Order list</h2>
                        <ul id="pcart"></ul>
                        <h4 id="ptotal"> Total: € </h4>
                    </div>
                </div>
            </div>
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}
