{% extends 'html/base.html' %}
{% load static %}
{% block title %}cafes{% endblock %}

{% block content %}
    <h1>cafes</h1>

    {% for cafe in cafes %}
        {% if cafe.en_ligne and cafe.du_moment %}
            <h2 class="title">Du moment</h2>
            <div class="col-md-6 p-4">
                    <img class="picture" src="{{ cafe.image }}">
                    <h4 class="item_title" id="bur{{cafe.id}}">{{ cafe.nom }}</h4>
                    <h6 class="item_title">{{ cafe.description }}</h6>
                    <div class="form-check-inligne">
                        <label class="form-check_label">
                            <input class="form-check-input" type="radio" name="cafe{{cafe.id}}" value="{{cafe.prix}}" checked>
                            {{ cafe.prix }} €
                        </label>
                    </div>
                    <div>
                        <button class="btn" onclick="addcafe('{{ cafe.id }}')"> Ajouter au panier</button>
                    </div>
        {% endif %}
    {% endfor %}

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8">
                    <h2 class="title">Carte</h2>
                    <div class="row">
                        {% for cafe in cafes %}
                            <div class="col-md-6 p-4">
                            {% if cafe.en_ligne and not cafe.du_moment %}
                                <img class="picture" src="{{ cafe.image }}">
                                <h4 class="item_title" id="bur{{cafe.id}}">{{ cafe.nom }}</h4>
                                <h6 class="item_title">{{ cafe.description }}</h6>
                                <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="cafe{{cafe.id}}" value="{{cafe.prix}}" checked>
                                        {{ cafe.prix }} €
                                    </label>
                                </div>
                                <!-- <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="cafe{{cafe.id}}">
                                        {{ cafe.prix }} + 4 €
                                        trouver pour le double 7 8min
                                    </label> -->
                                </div>
                                <button class="btn" onclick="addcafe('{{ cafe.id }}')"> Ajouter au panier</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-dark p-4 rounded">
                        <h2> Order list</h2>
                        <ul id="pcart"></ul>
                        <h4 id="ptotal"> Total: € </h4>
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'js/order2.js' %}"></script>
{% endblock %}
