{% extends 'html/base.html' %}
{% load static %}
{% block title %}pressions{% endblock %}

{% block content %}
    <h1>pressions</h1>

    {% for pression in pressions %}
        {% if pression.en_ligne and pression.du_moment %}
            <h2 class="title">Du moment</h2>
            <div class="col-md-6 p-4">
                    <img class="picture" src="{{ pression.image }}">
                    <h4 class="item_title" id="bur{{pression.id}}">{{ pression.nom }}</h4>
                    <h6 class="item_title">{{ pression.description }}</h6>
                    <div class="form-check-inligne">
                        <input class="form-check-input" type="radio" name="pression{{pression.id}}" value="{{pression.prix_25cl}}" checked>
                        {{ pression.prix_25cl }} €
                    </label>
                    <label class="form-check_label">
                        <input class="form-check-input" type="radio" name="pression{{pression.id}}" value="{{pression.prix_50cl}}" checked>
                        {{ pression.prix_50cl }} € / 50cl
                    </label>
                    </div>
                    <div>
                        <button class="btn" onclick="addpression('{{ pression.id }}')"> Ajouter au panier</button>
                    </div>
        {% endif %}
    {% endfor %}

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8">
                    <h2 class="title">Carte</h2>
                    <div class="row">
                        {% for pression in pressions %}
                            <div class="col-md-6 p-4">
                            {% if pression.en_ligne and not pression.du_moment %}
                                <img class="picture" src="{{ pression.image }}">
                                <h4 class="item_title" id="bur{{pression.id}}">{{ pression.nom }}</h4>
                                <h6 class="item_title">{{ pression.description }}</h6>
                                <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="pression{{pression.id}}" value="{{pression.prix_25cl}}" checked>
                                        {{ pression.prix_25cl }} €
                                    </label>
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="pression{{pression.id}}" value="{{pression.prix_50cl}}" checked>
                                        {{ pression.prix_50cl }} € / 50cl
                                    </label>
                                </div>
                                <!-- <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="pression{{pression.id}}">
                                        {{ pression.prix }} + 4 €
                                        trouver pour le double 7 8min
                                    </label> -->
                                </div>
                                <button class="btn" onclick="addpression('{{ pression.id }}')"> Ajouter au panier</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-dark p-4 rounded">
                        <h2> Order list</h2>
                        <ul id="pcart"></ul>
                        <h4 id="ptotal"> Total: € </h4>
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'js/order2.js' %}"></script>
{% endblock %}
