{% extends 'html/base.html' %}
{% load static %}
{% block title %}softs{% endblock %}

{% block content %}
    <h1>softs</h1>

    {% for soft in softs %}
        {% if soft.en_ligne and soft.du_moment %}
            <h2 class="title">Du moment</h2>
            <div class="col-md-6 p-4">
                    <img class="picture" src="{{ soft.image }}">
                    <h4 class="item_title" id="bur{{soft.id}}">{{ soft.nom }}</h4>
                    <h6 class="item_title">{{ soft.description }}</h6>
                    <div class="form-check-inligne">
                        <label class="form-check_label">
                            <input class="form-check-input" type="radio" name="soft{{soft.id}}" value="{{soft.prix}}" checked>
                            {{ soft.prix }} €
                        </label>
                    </div>
                    <div>
                        <button class="btn" onclick="addsoft('{{ soft.id }}')"> Ajouter au panier</button>
                    </div>
        {% endif %}
    {% endfor %}

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8">
                    <h2 class="title">Carte</h2>
                    <div class="row">
                        {% for soft in softs %}
                            <div class="col-md-6 p-4">
                            {% if soft.en_ligne and not soft.du_moment %}
                                <img class="picture" src="{{ soft.image }}">
                                <h4 class="item_title" id="bur{{soft.id}}">{{ soft.nom }}</h4>
                                <h6 class="item_title">{{ soft.description }}</h6>
                                <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="soft{{soft.id}}" value="{{soft.prix}}" checked>
                                        {{ soft.prix }} €
                                    </label>
                                </div>
                                </div>
                                <button class="btn" onclick="addsoft('{{ soft.id }}')"> Ajouter au panier</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-dark p-4 rounded">
                        <h2> Order list</h2>
                        <ul id="pcart"></ul>
                        <h4 id="ptotal"> Total: € </h4>
                    </div>
                </div>
            </div>
    <script src="{% static 'js/order2.js' %}"></script>
{% endblock %}
