<!DOCTYPE html>
<html lang="fr">

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/food.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %} {% endblock %}</title>
    </head>

    <header>
        <ul class="Navbar">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'food:food' %}">food</a></li>
            <li><a href="{% url 'drink:drink' %}">drink</a></li>
            <li><a href="{% url 'menu:menu' %}">menu</a></li>
            <li class="nav-item">
                <a href="{% url 'order' %}" class="nav-link"><span id="cart">0</span></a>
            </li>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Welcome {{ user.username }}</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
    </header>
    
    <body>

    <div class="FoodPageContainer">
        <div class="NavFoodContainer">
            {% block content %} {% endblock %}
        </div>

        <div class="FoodItemsContainer">
            <div class="Title">
                <h1>NOTRE CARTE</h1>
            </div>

            <div class="FoodItems">
                {% for food in foods %}
                <div class="FoodItem">
                    <img src="{{ food.image.url }}" alt="food image">
                    <h2>{{ food.name }}</h2>
                    <p>{{ food.description }}</p>
                    <p>{{ food.price }} €</p>
                    <button class="AddToCart" data-id="{{ food.id }}">Ajouter au panier</button>
                </div>
                {% endfor %}
            </div>

        </div>

        <script src="{% static 'js/base.js' %}"></script>
    </div>

    <footer></footer>

    </body>
</html>

<!-- 6_13min  -->
<!-- 7_11.30min  -->