<!DOCTYPE html>
<html lang="fr">

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/food.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %} {% endblock %}</title>
    </head>

    <header>
        <ul class="Navbar">
            <li><a href="{% url 'food:food' %}">Home</a></li>
            <li><a href="{% url 'food:food' %}">food</a></li>
            <li><a href="{% url 'drink:drink' %}">drink</a></li>
            <li><a href="{% url 'menu:menu' %}">menu</a></li>
            <li class="nav-item">
                <a href="{% url 'order' %}" class="nav-link">Cart: <span id="cart">0</span></a>
            </li>
            <li><a href="{% url 'login' %}">login</a></li>

        </ul>
    </header>
    
    <body>

    <div class="FoodPageContainer">
        <div class="NavFoodContainer">
            {% block content %} {% endblock %}
        </div>

        {% block login %} {% endblock %}


        <script src="{% static 'js/base.js' %}"></script>
    </div>

    <footer>
        <div class="siteMap">
            <div class="logoxfollow">
                <img class="logo" src="{% static 'images/Dwich&Co-logo.png' %}" alt="logo">
                <div class="follow">
                    <h5 class="siteMapSubTitle">Suivez-nous :</h5>
                    <div class="socialMedia">
                        <a href="https://www.instagram.com/dwichandcomartignas/">
                            <svg width="20" height="20" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke="var(--Secondary)" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z" stroke="var(--Secondary)" stroke-width="1.5"/>
                                <path d="M17.5 6.51L17.51 6.49889" stroke="var(--Secondary)" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="siteSchema alignMap">
                <h4 class="siteMapTitle">Plan du site</h4>
                <ul>
                    <li><a href="{% url 'food:food' %}">Home</a></li>
                    <li><a href="{% url 'food:food' %}">food</a></li>
                    <li><a href="{% url 'drink:drink' %}">drink</a></li>
                    <li><a href="{% url 'menu:menu' %}">menu</a></li>
                </ul>

            </div>
            <div class="contactUs alignMap">
                <h4 class="siteMapTitle">Contactez-nous</h4>
                <p>4 Avenue de Verdun,<br> 33127 Martignas-sur-Jalle</p>
                <p>Tel. 05 56 85 73 76</p>
            </div>
            <div class="schedules alignMap">
                <h4 class="siteMapTitle">Horaires d'ouvertures</h4>
                <p>Mardi - Vendredi : 11h00 - 22h00</p>
                <p>Samedi : 18h00 - 22h00</p>
                <p>Dimanche : 18h00 - 21h30</p>
            </div>
            <div class="buttons alignMap"></div>
        </div>
        <div class="rightReserved">
            ©Dwich&Co 2024. Tous droits réservés.
        </div>
    </footer>

    </body>
</html>

<!-- 6_13min  -->
<!-- 7_11.30min  -->