{% extends 'html/base.html' %}

{% load static %}

{% block title %} Se connecter {% endblock %}



{% block login %}
<div class="FoodItemsContainer">
    <div class="TitleLogin">
        <h1>Connexion</h1>
    </div>
{% block loginContent %}
        <form method="POST" class="loginForm">
            {% csrf_token %}
            <div class="form-group">
                <input id="inputs" class="username" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input id="inputs" class="password" type="password" name="password" placeholder="**********">
            </div>
            <button type="submit" class="btn_info"> Se connecter</button>
            <a href="{% url 'signup' %}">Pas encore de compte ? s'enregistrer</a>
            {% if messages %}
            <ul class="pt-2">
                {% for msg in messages %}
                <li> {{ msg }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>

{% endblock %}
</div>
{% endblock %}