{% extends 'html/base.html' %}

{% load static %}

{% block title %} S'inscrire {% endblock %}

{% block login %}
    <div class="FoodItemsContainer">
    <div class="TitleLogin">
        <h1>Créer un compte</h1>
    </div>
{% block signup %}
    <div class="container-fluid">
        <div class="row">
            <form method="POST" class="loginForm">
                {% csrf_token %}
                {% for field in form %}
                <div class="input-group">
                    <div>
                        {{ field.label_tag }}
                    </div>
                    <div>
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <small style="color: grey"> {{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <div>
                    {% for error in form.errors %}
                    <small style="color: red"> {{ error }}</small>
                    {% endfor %}
                </div>
                <button type="submit" class="btn_info_signup"> S'inscrire</button>
            <a href="{% url 'login' %}">Déjà un compte ? Se connecter</a>
            </form>
{% endblock %}
        </div>
    </div>
    </div>
{% endblock %}
