{% extends 'fragments/base.html' %}

{% load static %}
{% block title %}bieres{% endblock %}

{% block content %}
    <h1>bieres</h1>

    {% for biere in bieres %}
        {% if biere.en_ligne and biere.du_moment %}
            <h2 class="title">Du moment</h2>
            <div class="col-md-6 p-4">
                    <img class="picture" src="{{ biere.image }}">
                    <h4 class="item_title" id="bur{{biere.id}}">{{ biere.nom }}</h4>
                    <h6 class="item_title">{{ biere.description }}</h6>
                    <div class="form-check-inligne">
                        <label class="form-check_label">
                            <input class="form-check-input" type="radio" name="biere{{biere.id}}" value="{{biere.prix}}" checked>
                            {{ biere.prix }} €
                        </label>
                    </div>
                    <div>
                        <button class="btn" onclick="addProduct('beer', '{{ biere.id }}')"> Ajouter au panier</button>
                    </div>
        {% endif %}
    {% endfor %}

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8">
                    <h2 class="title">Carte</h2>
                    <div class="row">
                        {% for biere in bieres %}
                            <div class="col-md-6 p-4">
                            {% if biere.en_ligne and not biere.du_moment %}
                                <img class="picture" src="{{ biere.image }}">
                                <h4 class="item_title" id="bur{{biere.id}}">{{ biere.nom }}</h4>
                                <h6 class="item_title">{{ biere.description }}</h6>
                                <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="biere{{biere.id}}" value="{{biere.prix}}" checked>
                                        {{ biere.prix }} €
                                    </label>
                                </div>
                                <!-- <div class="form-check-inligne">
                                    <label class="form-check_label">
                                        <input class="form-check-input" type="radio" name="biere{{biere.id}}">
                                        {{ biere.prix }} + 4 €
                                        trouver pour le double 7 8min
                                    </label> -->
                                </div>
                                <button class="btn" onclick="addProduct('beer', '{{ biere.id }}')"> Ajouter au panier</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-dark p-4 rounded">
                        <h2> Order list</h2>
                        <ul id="pcart"></ul>
                        <h4 id="ptotal"> Total: € </h4>
                    </div>
                </div>
            </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
