{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div id="test"></div>
<ul class="NavFood">
    <li><a class="NavFoodCategory" href="{% url 'menu:menu' %}">Menu</a></li>
    <li><a class="NavFoodCategory" href="{% url 'food:dwichs' %}">Dwichs</a></li>
    <li><a class="NavFoodCategory" href="{% url 'food:burgers' %}">Burgers</a></li>
    <li><a class="NavFoodCategory" href="{% url 'food:salades' %}">Salades</a></li>
    <li><a class="NavFoodCategory" href="{% url 'food:frites' %}">Frites</a></li>
    <li><a class="NavFoodCategory" href="{% url 'food:desserts' %}">Desserts</a></li>
</ul>
{% endblock %}


{% block Hometitle %}
<div class="FoodItemsContainer">
    <div class="Title">
        <h1>OUR MENU</h1>
    </div>
</div>
{% endblock %}